/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/
body {
   font-family: "HezaedrusRegular";
   color: #232323;
   background: #f9f9fa;
}
.wrapper {
   display: flex;
   flex-direction: column;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 153px;
   z-index: 50;
}
.container {
   max-width: 1252px;
   margin: 0px auto;
}
.header__body {
   display: flex;
   justify-content: space-between;
   margin: 0 0 102px 0;
}
.header__logo {
}
.header__burger {
   display: none;
}
.header__menu {
   margin: 0 134px 0 0;
}
.menu {
}
.menu__list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.menu__list li {
   position: relative;
}
.menu__list li:hover {
   color: #bde2f4;
   text-decoration: underline;
}
.menu__link {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: #232323;
   padding: 0 86px 0 0;
}
.menu__link :hover {
   color: #bde2f4;
   text-decoration: underline;
}
.menu__link_invisible {
   display: none;
}
.menu__arrow {
}
.arrow {
   display: none;
}
/*============================================*/
.sub-menu__list {
   display: none;
   position: absolute;
   left: 0;
   top: 10px;
   padding: 10px 0 0 0;
}
.sub-menu__body {
   display: flex;
   flex-wrap: wrap;
   width: 682px;
   max-width: 685px;
   height: 400px;
   background-color: #fff;
}
.sub-menu__colums {
   display: flex;
   flex-wrap: wrap;
}
.sub-menu__colum {
   display: flex;
   flex-direction: column;
   max-width: 302px;
   flex-wrap: wrap;
}
.sub-menu__card {
   display: flex;
   min-width: 302px;
}
.card-menu {
}
.card-menu__img {
   padding: 0 10px 19px 0;
}
.card-menu__body {
   align-self: center;
}
.card-menu__tittle {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   text-transform: uppercase;
}
.card-menu__text {
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 16px;
   color: #898989;
}

.arrow.active {
   transform: rotate(-180deg);
}

body.mouse .menu__list > li:hover .sub-menu__list {
   display: block;
}
body.touch .sub-menu__list.open {
   display: block;
}
body.touch .arrow {
   display: block;
   position: absolute;
   right: 45px;
   top: 3px;
   width: 0;
   height: 0;
   border-top: 10px solid #000;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
}
.menu__contact {
   display: none;
}
@media (max-width: 1025px) {
   .sub-menu__body {
      flex-direction: column;
   }
}
/*============================================*/
@media (max-width: 960px) {
   body.lock {
      overflow: hidden;
   }
   .header__body {
      height: 50px;
   }
   .header__logo {
      position: relative;
      z-index: 2;
      flex: 0 0 50px;
   }
   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
      margin: 0 15px 0 0;
   }
   .header__burger span {
      background-color: #000;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }
   .header__burger:before {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger:after {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header__burger.active span {
      transform: scale(0);
   }
   .header__menu {
      display: block;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #fff;
      padding: 100px 0 0 0;
      transition: all 0.3s ease 0s;
   }
   .header__menu.active {
      top: 0;
   }
   .menu__list li {
      margin: 1px 0px;
      padding: 30px 0;
   }
   .menu__list {
      margin: 0px 51px;
   }

   .menu__link {
      font-size: 30px;
      padding: 0 0 10px 0;
   }
   .menu__list {
      display: block;
      text-align: start;
   }
   .sub-menu__list {
      position: relative;
   }
   .sub-menu__colums {
      flex-direction: column;
   }
   body.touch .arrow {
      top: 25px;
      right: 20px;
   }
   .sub-menu__body {
      width: 100%;
      height: 100%;
   }
   .card-menu__tittle {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: #000;
   }
   .card-menu__text {
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
   }
   .sub-menu__card {
      max-width: 100%;
      margin: 0 0 65px 0;
   }
   .sub-menu__card:active {
      background-color: #bde2f4;
   }
   .menu__link_invisible {
      display: inline;
   }
   .menu__contact {
      display: block;
      align-items: center;
   }
}
@media (max-width: 767px) {
   .menu__link {
      font-size: 20px;
      font-weight: 600;
   }
   .card-menu__text {
      font-size: 14px;
   }
   .card-menu__tittle {
      font-size: 16px;
      font-weight: 600;
   }
}
/*=====================================*/
.main {
   flex: 1 1 auto;
}
.main__tittle {
   font-weight: 600;
   font-size: 80.3441px;
   line-height: 110px;
   text-transform: uppercase;
   color: #28054d;
   padding: 116px 0 129px 0;
}
.main__text {
   font-weight: 300;
   font-size: 22px;
   line-height: 153.5%;
   letter-spacing: -0.015em;
   padding: 0 5px;
}
.main__card {
   display: flex;
   justify-content: space-between;
   background: #f3f7f9;
   border-radius: 11px;
   align-items: center;
}
.card-main {
}
.card-main__content {
   display: flex;
   padding: 16px 0 16px 24px;
}
.card-main__image {
}
.card-main__text {
   padding: 0 0 0 14px;
}
.card-main__icon {
   padding: 0 23px 0 0;
}
/*=========================================*/
.page-question {
}
.page-question__tittle {
   font-weight: 500;
   font-size: 33px;
   line-height: 39px;
   color: #28054d;
   margin: 70px 0 0 0;
   padding: 0 0 11px 0;
}
.page-question__text {
   font-weight: 300;
   font-size: 22px;
   line-height: 153.5%;
   letter-spacing: -0.015em;
}
.page-question__text p {
   padding: 0 0 20px 0;
}
.page-question__card {
   display: flex;
   background: #f3f7f9;
   border-radius: 193.5px;
}
.card-question {
}
.card-question__image {
}
.card-question__body {
   padding: 51px 83px 48px 51px;
}
.card-question__tittle {
   font-weight: 500;
   font-size: 32.3223px;
   line-height: 44px;
   letter-spacing: -0.015em;
   color: #4896d2;
   padding: 0 0 10px 0;
}
.card-question__subtittle {
   font-weight: 300;
   font-size: 18px;
   line-height: 131%;
   letter-spacing: -0.015em;
   color: rgba(0, 0, 0, 0.6);
   padding: 0 0 25px 0;
}
.card-question__text {
   font-weight: 300;
   font-size: 22px;
   line-height: 153.5%;
   letter-spacing: -0.015em;
}

.page-question__menu {
   margin: 0 0 100px 0;
}
.menu-question {
}
.menu-question__list {
   display: flex;
   flex-direction: column;
}
.menu__list li {
   position: relative;
}
.menu-question__link {
   position: relative;
}
.menu__link {
}
.menu-question__arrow {
   position: absolute;
   right: 0;
   top: 3px;
}
.arrow {
}
.sub-menu-question__list {
   position: relative;
   top: 0;
   left: 0;
}
.sub-menu__list {
}
.sub-menu-question__link {
   font-weight: 300;
   font-size: 22px;
   line-height: 153.5%;
   letter-spacing: -0.015em;
   color: rgba(0, 0, 0, 0.7);
}
.sub-menu__link {
}

.menu li {
   position: relative;
}
.menu__list {
   display: flex;
}
.menu__list > li {
   margin: 0 10px 0 0;
   padding: 0 30px 0 0;
}
.menu__link {
   color: #000;
}
.sub-menu__list {
   display: none;
   position: absolute;
   left: 0;
   top: 10px;
   padding: 10px 0 0 0;
}

.sub-menu__list > li {
   background-color: #fff;
}
.sub-menu__link {
   color: #000;
   display: inline-block;
   padding: 5px 0;
}
.menu__arrow {
}
.arrow {
   position: absolute;
   right: 0;
   top: 3px;
   width: 0;
   height: 0;
   border-top: 10px solid #fff;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
}
@media (max-width: 960px) {
   .menu__list {
      display: block;
   }
   .menu__list > li {
      margin: 0 0 10px 0;
   }
   .sub-menu__list {
      position: relative;
      top: 0;
      left: 0;
   }
   .sub-menu-question__link {
      padding: 0 10px 0 0;
   }
}

@media (max-width: 767px) {
   .page-question {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
   }
   .page-question__card {
      flex-direction: column;
      align-self: center;
   }
   .card-question__image {
      align-self: center;
   }
}

.arrow.active {
   transform: rotate(-180deg);
}

body.mouse .menu__list > li:hover .sub-menu__list {
   display: block;
}
body.touch .sub-menu__list.open {
   display: block;
}
body.touch .arrow {
   display: block;
   position: absolute;
   right: 45px;
   top: 3px;
   width: 0;
   height: 0;
   border-top: 10px solid #000;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
}
/*=========================================*/
.page-extra {
}
.page-extra__tittle {
   font-weight: 300;
   font-size: 31px;
   line-height: 37px;
   color: #232323;
   padding: 0 0 39px 0;
}
.page-extra__body {
   display: flex;
   align-items: center;
   padding: 0 10px;
   flex-direction: column;
}
.page-extra__row {
   display: flex;
   width: 100%;
   margin: 0 0 10px 0;
}
.page-extra__card {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   filter: drop-shadow(0px 4px 40px rgba(126, 126, 126, 0.14));
   border-radius: 33px;
   align-items: center;
   height: auto;
   margin: 0 38px 0 0;
   overflow: hidden;
}
.card-extra {
}
.card-extra__img {
   padding: 7px;
}
.card-extra__img img {
   width: 100%;
}
.card-extra__tittle {
   font-weight: 500;
   font-size: 22px;
   line-height: 28px;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
.card-extra__text {
   font-weight: 300;
   font-size: 14px;
   line-height: 126.5%;
   text-align: justify;
   letter-spacing: -0.015em;
   color: #828282;
   padding: 11px 10px;
}
@media (max-width: 1100px) {
   .page-extra__row {
      flex-direction: column;
   }
   .page-extra__card {
      margin: 0 38px 20px 0;
   }
}
@media (max-width: 767px) {
   .card-extra__tittle {
      font-size: 16px;
   }
   .card-extra__text {
      font-size: 12px;
   }
}
/*=========================================*/
.footer {
}
.footer__body {
   display: flex;
   align-items: center;
   margin: 36px 0 0 0;
   padding: 36px 0 74px 0;
}
.footer__logo {
}
.footer__image {
   padding: 0 0 30px 0;
}
.footer__proof {
}
.footer__connect {
   display: flex;
   flex: 1 1 auto;
   padding: 0 0 0 56px;
   justify-content: space-between;
}
.footer__menu {
}
.footer__list {
   display: flex;
}
.footer__link {
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
}
.footer__contact {
}
.contact-footer {
   display: flex;
}
.contact-footer__image {
   display: flex;
   padding: 0 16px 0 0;
}

@media (max-width: 960px) {
   .footer__connect {
      flex-direction: column;
   }
   .footer__list li {
      padding: 0 30px 0 0;
   }
   .footer__body {
      justify-content: space-between;
   }
   .footer__connect {
      flex: 0 0 50%;
   }
   .footer__list {
      padding: 0 0 27px 0;
   }
   .contact-footer {
      align-self: flex-end;
      padding: 0 80px 0 0;
   }
}

@media (max-width: 767px) {
   .footer__contact_main {
      display: none;
   }
   .footer__list {
      flex-direction: column;
   }
   .footer__list li {
      padding: 0 0 20px 0;
      font-size: 12px;
   }
   .footer__link {
      font-size: 12px;
   }
   .footer__proof {
      font-size: 9px;
   }
}
